* {
    background-color: black;
}

.mini-fav-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15%;
    justify-content: center;
}

.mini-container {
    margin: 2%;
    /* border: 2px solid red; */
}

.mini-card {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    border: .5px solid #edb86b;
    color: white;
    width: 30vw;
    height: 25vh;
    contain: content;
    padding: 2px;
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.mini-description {
    margin-top: 2%;
    text-align: center;
}

.mini-card:hover {
    transform: scale(1.02);
    -webkit-filter: brightness(0.8);
}

.mini-pic {
    margin: 6%;
    margin-top: 1%;
    height: auto;
    width: 20%;
}