* {
  margin: 0;
  padding: 0;
  clear: both;
}

.App {
  background-color: hsl(0deg 0% 0%);
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.api-error{
  color:white; 
  text-align: center;
  margin-top: 30%;
}
@media (min-width:500px){
  

}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */