.Nav {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: hsl(0deg 0% 0%);
  flex-wrap: nowrap;
  align-items: center;
}

.radiance-logo {
  padding-right: 3%;
  width: auto;
  height: 80%;
}

.logo-container {
  display: flex;
  width: 100vw;
  height: 40vh;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

.welcome-container {
  display: flex;
  width: 100vw;
  height: 60vh;
  margin-top: 3%;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.affirmation-button {
  border: #edb86b;
  font-family: 'Montserrat', sans-serif;
  color: #edb86b;
  background-color: black;
  border-style: solid;
  width: 10%;
  height: 5%;
  margin-top: 2%;
  font-size: 1.25rem;
  contain: content;
  font-family: cursive;
}

.affirmation-button:hover {
  box-shadow: 0 0 10px 0 #edb86b inset, 0 0 20px 2px #edb86b;
  border: 2px solid #edb86b;
  color: #edb86b;

  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.welcome {
  color: #edb86b;
  font-family: 'Bodoni Moda', serif;
  font-size: 3em;
}