.card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.affirmation-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #edb86b;
    height: 45vh;
    width: 65vw;
    color: white;
    contain: content;
    justify-content: center;
    margin-top: 10%;
    box-shadow: 0 2px 5px 0 #edb86b inset, 0 0 10px 0px #edb86b;
    font-family: 'Montserrat', sans-serif;
}

.affirm-pic {
    height: 40%;
    margin-top: 6%;
}

/* .card-title{
    font-size: 1rem;
    font-display: underline;
} */

.card-description {
    font-size: 2rem;
    text-align: center;
}

.favorite-container {
    position: absolute;
    left: 10px;
    bottom: 5px;
}


.favorite-button, button {
    height: 8vh;
    align-items: flex-start;
    padding: 0;
    border: none;
    background: black;
}

.footer {
    display: flex;
    background-color: black;
    width: 100vw;
    height: 20vh;
    contain: content;
    justify-content: center;
    align-items: center;
    /* color: #edb86b; */
    position: fixed;
    bottom: 0;
}

.radiance-logo-footer {
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

.home-link,
.favorite-link {
    font-family: 'Montserrat', sans-serif;
    color: #edb86b;
}