.card-container { 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.affirmation-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #edb86b;
    height: 45vh;
    width: 65vw;
    color: #edb86b;
    contain: content;
    justify-content: center;
    margin-top: 10%;
    box-shadow: 0 2px 5px 0 #edb86b inset, 0 0 10px 0px #edb86b;
}

.affirm-pic {
    height: 50%;
    margin-top: 5%;
}

/* .card-title{
    font-size: 1rem;
    font-display: underline;
} */

.card-description {
    font-size: 2rem;
    text-align: center;
}

.favorite-container {
    position: absolute;
    left: 10px;
    bottom: 5px;
}

.favorite {
    height: 8vh; 
    align-items: flex-start;
}

.footer {
    display: flex; 
    background-color: black;
    width: 100vw; 
    height: 20vh; 
    /* border: solid 2px #edb86b; */
    contain: content;
    justify-content: center;
    align-items: center;
    color:  #edb86b;
    position: fixed;
    bottom: 0;
    /* box-shadow: 0 2px 0px 0 #edb86b inset, 0 0 20px 0px #edb86b; */
}

.radiance-logo-footer {
    height:100%;
    margin-left: 50px;
    margin-right: 50px; 
}

.home-link, .favorite-link {
    font-family: 'Montserrat', sans-serif;
    color: #edb86b;
}